* {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  //border: 1px solid blue;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: auto;
}
.my-card {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  //margin: auto;
  //width: max-content;
  box-shadow: 2px 2px 9px 6px #ccc;
  //display: inline-block;
  font-family: "Karla";
  border-radius: 20px;
  // documentation https://stackoverflow.com/questions/21672346/css-positioning-two-elements-next-to-each-other/21672491
  float: left;
}

mat-card-content {
  display: inline-block;
  //margin: 10px;
  overflow-wrap: normal;
  width: 410px;
  //width: 5vw;
  height: 290px;
  //height: 6vw;
}

mat-card-header {
  //border: 2px solid red;
  justify-content: left;
  //text-align: left;
}

.img {
  width: 180px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.icons {
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 10px;
  //display: inline-table;
  //overflow: hidden;
  //margin-left: auto;
}
a {
  display: inline;
  margin: 5px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 4px;
}
mat-card-subtitle {
  font-size: 18px;
  text-align: left;
}
mat-card-content {
  font-size: 15px;
}
.bio {
  margin-top: 10px;
}
.name {
  font-weight: bold;
  font-size: 20px;
  font-family: "Karla";
}
.sinai-card{
  margin: 0px;
}
.sebene-card{
  margin: 0px;
}
.lauren-card{
  margin: 0px;
}
.emily-card{
  margin: 0px;
}