<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">

<div class="container">

    <!-- Sebene Yi Card -->
    <div class="sebene-card">
        <mat-card class="my-card">
            <mat-card-header>
                <mat-card-title> President </mat-card-title>
                <mat-card-subtitle> Senior </mat-card-subtitle>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/sebene-yi-35146b171/" target="_blank" class="fa fa-linkedin"></a>
                    <a href="mailto:ssy3@students.calvin.edu" class="fa fa-envelope-square"></a>
                </div>
            </mat-card-header>
            <div class="img">
                <img mat-card-image src="../assets/sebene.jpg" alt="Profile Photo" />
            </div>
            <mat-card-content>
                <p class="name">Sebene Yi</p>
                <div class="bio">
                Hi! I’m Sebene Yi and I am the President of Women in STEM. I am a Junior majoring in Computer
                Science with a Business minor. I lived in Texas and South Korea. Some of my hobbies include
                reading and pretending I don't have homework. My areas of interest are UX, web development,
                and database systems. Please don't hesitate to reach out for more information! WIC is a
                wonderful resource for females in CS to find community and connections with peers and businesses
                around Grand Rapids. Other than that, our leadership is made up of some wonderful females that
                truly believe in WIC's mission and love to help out. Again, don't hesitate to reach out. I
                would love to meet you!
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Emily Costa Card -->
    <div class="emily-card">
        <mat-card class="my-card">
            <mat-card-header>
                <mat-card-title> Vice President </mat-card-title>
                <mat-card-subtitle> Senior </mat-card-subtitle>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/emily-a-costa/" target="_blank" class="fa fa-linkedin"></a>
                    <a href="mailto:eac3@students.calvin.edu" class="fa fa-envelope-square"></a>
                </div>
            </mat-card-header>
            <div class="img">
                <img mat-card-image src="../assets/emily.jpg" alt="Profile Photo" />
            </div>
            <mat-card-content>
                <p class="name"> Emily Costa </p>
                <div class="bio">
                Hey everyone! My name is Emily. I am a fourth year Computer Science major and this year’s
                Vice President. WIS was the first club I joined when I
                transferred from the University of Central Florida, so it's definately a great place to
                meet new people with similar interests. My technical interests include
                mobile development and UI/UX design. Currently, I am a Software Associate at Michigan
                Software Labs where I have worked on several projects, mostly web and Android develoment.
                Outside of WIC, I enjoy going out to eat and vintage shopping. Feel free to reach
                out with any questions, and I can’t wait to see you at our next event!
                </div>
                My portfolio: <a class="portfilio" href="http://emily-costa.com/" target="_blank">emily-costa.com</a>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Germaine Hounakey Card -->
    <div class="germaine-card">
        <mat-card class="my-card">
            <mat-card-header>
                <mat-card-title> Mentorship Coordinator </mat-card-title>
                <mat-card-subtitle> Junior </mat-card-subtitle>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/germaine-hounakey-a655291a7/" target="_blank" class="fa fa-linkedin"></a>
                    <a href="mailto:gah23@students.calvin.edu" class="fa fa-envelope-square"></a>
                </div>
            </mat-card-header>
            <div class="img">
                <img mat-card-image src="../assets/germaine.jpg" alt="Profile Photo" />
            </div>
            <mat-card-content>
                <p class="name"> Germaine Hounakey </p>
                <div class="bio">
                    Hello, everyone! My name is Germaine Hounakey, and I am a junior majoring in Computer Science
                    with a Business minor. I lived in Togo (West Africa) and Grand Rapids. Some of my favorite
                    things to do are exercising, poetry and trying new foods! My areas of interest are UX, web
                    development, and database systems. I am always looking for ways to improve myself and meet new
                    people. Feel free to reach out!
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Rebecca DiCosola Card -->
    <div class="germaine-card">
        <mat-card class="my-card">
            <mat-card-header>
                <mat-card-title> Treasurer </mat-card-title>
                <mat-card-subtitle> Junior </mat-card-subtitle>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/rebecca-dicosola-9a86951a2/" target="_blank" class="fa fa-linkedin"></a>
                    <a href="mailto:rmd34@students.calvin.edu" class="fa fa-envelope-square"></a>
                </div>
            </mat-card-header>
            <div class="img">
                <img mat-card-image src="../assets/rebecca.jpg" alt="Profile Photo" />
            </div>
            <mat-card-content>
                <p class="name"> Rebecca DiCosola </p>
                <div class="bio">
                    Hi! I’m Becca DiCosola, and I’m the treasurer for Women in STEM this year! I’m a junior majoring
                    in computer science with minors in math and psychology, and I’m interested in pursuing a career
                    in software development, database administration, or something related to machine learning/neural
                    networks. Outside of class and work, I love diving on Calvin’s Swim and Dive team, hiking and
                    exploring Michigan with my friends, and doing a variety of arts and crafts! Feel free to reach out,
                    and I’m looking forward to a great next year with you all!
                </div>
            </mat-card-content>
        </mat-card>
        </div>
</div>

