<!-- <div class="card-container">
    <app-leadership-card></app-leadership-card>
</div> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">

<div class="container">
    <!-- Lauren Steffen Card -->
    <div class="lauren-card">
        <mat-card class="my-card">
            <mat-card-header>
                <mat-card-title> President </mat-card-title>
                <mat-card-subtitle> Junior </mat-card-subtitle>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/lauren-steffen/" target="_blank" class="fa fa-linkedin"></a>
                    <a href="mailto:lms48@students.calvin.edu" class="fa fa-envelope-square"></a>
                </div>
            </mat-card-header>
            <div class="img">
                <img mat-card-image src="../assets/lauren.jpg" alt="Profile Photo" />
            </div>
            <mat-card-content>
                <p class="name">Lauren Steffen</p>
                <div class="bio">
                Hello! My name is Lauren, and I'm the president of Women in Computing. I'm a
                junior at Calvin studying data science with a minor in geography. I'm from
                Lafayette, Indiana. After graduation, I would love to be able to use my degree
                in the energy industry, as I've had some exposure to energy through interning as
                an Independent System Operator at MISO. Some of my interests include going on
                hikes/walks, studying at coffee shops and libraries with friends, playing the piano,
                and recently, I've gotten more into podcasts and reading.  Please don't hesitate to
                introduce yourself and reach out with questions or recommendations for a good coffee
                shop!
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Sebene Yi Card -->
    <div class="sebene-card">
        <mat-card class="my-card">
            <mat-card-header>
                <mat-card-title> Vice President/Treasurer </mat-card-title>
                <mat-card-subtitle> Junior </mat-card-subtitle>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/sebene-yi-35146b171/" target="_blank" class="fa fa-linkedin"></a>
                    <a href="mailto:ssy3@students.calvin.edu" class="fa fa-envelope-square"></a>
                </div>
            </mat-card-header>
            <div class="img">
                <img mat-card-image src="../assets/sebene.jpg" alt="Profile Photo" />
            </div>
            <mat-card-content>
                <p class="name">Sebene Yi</p>
                <div class="bio">
                Hi! I’m Sebene Yi and I am the VP/Treasurer for WIC. I am a Junior majoring in Computer
                Science with a Business minor. I lived in Texas and South Korea. Some of my hobbies include
                reading and pretending I don't have homework. My areas of interest are UX, web development,
                and database systems. Please don't hesitate to reach out for more information! WIC is a
                wonderful resource for females in CS to find community and connections with peers and businesses
                around Grand Rapids. Other than that, our leadership is made up of some wonderful females that
                truly believe in WIC's mission and love to help out. Again, don't hesitate to reach out. I
                would love to meet you!
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Sinai Park Card -->
    <div class="sinai-card">
        <mat-card class="my-card">
            <mat-card-header>
                <mat-card-title> Vice President </mat-card-title>
                <mat-card-subtitle> Junior </mat-card-subtitle>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/sinai-park-755b72173/" target="_blank" class="fa fa-linkedin"></a>
                    <a href="mailto:sp46@students.calvin.edu" class="fa fa-envelope-square"></a>
                </div>
            </mat-card-header>
            <div class="img">
                <img mat-card-image src="../assets/sinai.jpg" alt="Profile Photo" />
            </div>
            <mat-card-content>
                <p class="name"> Sinai Park </p>
                <div class="bio">
                Hello, everyone! My name is Sinai Park, and I'm a junior studying Computer Science,
                with a minor in Mathematics. I'm serving as a vice president in Women in Computing.
                I hope to open up a space where any woman in the STEM area can grow interests in all
                areas of IT, challenge each other and grow. Studying computer science has allowed me
                to stick and solve problems I never thought I would. What I like to do during my free
                time is explore cafes, talk and hang out with friends, which I wish I could do more of,
                and taking walks anytime of the day. I really like to just cuddle inside a warm bed when
                I have so many things due the next day. Can't wait to meet all of you!
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Emily Costa Card -->
    <div class="emily-card">
        <mat-card class="my-card">
            <mat-card-header>
                <mat-card-title> Mentorship Coordinator </mat-card-title>
                <mat-card-subtitle> Junior </mat-card-subtitle>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/emily-a-costa/" target="_blank" class="fa fa-linkedin"></a>
                    <a href="mailto:eac3@students.calvin.edu" class="fa fa-envelope-square"></a>
                </div>
            </mat-card-header>
            <div class="img">
                <img mat-card-image src="../assets/emily.jpg" alt="Profile Photo" />
            </div>
            <mat-card-content>
                <p class="name"> Emily Costa </p>
                <div class="bio">
                Hey everyone! My name is Emily. I am a third year Computer Science major and this year’s
                mentorship and social media coordinator. WIC was the first club I joined when I
                transferred from the University of Central Florida, so it's definately a great place to
                meet new people with similar interests. My technical interests include
                software developmentand UI/UX design. This summer, I am looking forward to interning at Michigan
                Software Labs where I will be working as a software developer. Outside of WIC, I enjoy going
                out to eat and discovering new coffee shops. This past fall, I also volunteered with the One Campaign
                for Michigan to help promote youth voter turnout in the 2020 General Election. Please feel
                free to reach out with any questions, and I can’t wait to see you at our next event!
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

