* {
  border: 0px solid blue;
}
.margin {
  //margin-left: 200px;
  //margin-left: 18%;
  width: 73%;
  //margin-left: 25%;
  display: flex;
  //align-items: center;
  //justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  //background: gray;
  //align-content: center;
  //margin: auto;
  //margin-right: 200px;
  border: 2px solid green;
}
.my-card {
  margin: 3.3%;
  //margin: auto;
  //width: max-content;
  box-shadow: 2px 2px 9px 6px #ccc;
  //display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 20px;
  // documentation https://stackoverflow.com/questions/21672346/css-positioning-two-elements-next-to-each-other/21672491
  float: left;
}

mat-card-content {
  display: inline-block;
  //margin: 10px;
  overflow-wrap: normal;
  width: 400px;
  //width: 5vw;
  height: 280px;
  //height: 6vw;
}
.img {
  width: 180px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.icons {
  font-size: 25px;
  display: inline-block;
  overflow: hidden;
  margin-left: auto;
}
a {
  margin: 5px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 4px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.toggle {
  position: absolute;
  right: 240px;
  top: 40px;
  margin-top: 0px;
  margin-left: auto;
}
