<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">

<div class="container">
    <div class="text-container">
        <h4>Join Us</h4>
        <p>We're always looking for new memebers. <br> Feel free to sign up here, and you will be<br>added to our email list.<br><br>
        Or email us directly:</p>
        <a class="icon-buttons"
            href="mailto:womencompute@calvin.edu"
            target="_blank">
            <i class="fa fa-envelope-square"
                aria-hidden="true"
                style="font-size:50px;">
            </i>
        </a>
    </div>

    <div class="form-container">
        <form class="contact-form" [formGroup]="myform" (submit)="sendJoinEmail($event)">
            <label>Name *</label>
            <input type="text" name="name" formControlName="inputname"><br>
            <label>Email Address *</label>
            <input type="email" name="user_email" formControlName="inputemail"><br>
            <label>Major *</label>
            <input type="text" name="major" formControlName="inputmajor"><br>
            <label>Message</label>
            <textarea name="message" placeholder="Tell us something about yourself..." formControlName="inputmessage"></textarea>
            <button type="submit" class="submit-button">SUBMIT</button>
        </form>
    </div>
  </div>