<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">

<div class="container">
  <div class="text-container">
    <h4>Vision Statement</h4>
    <p>
      Women in Computing aims to increase the retention, competence, and
      confidence of women studying technology at Calvin University. We acheive
      this by creating a sense of belonging in community and by providing
      opportunities to network and develop new skills.
    </p>
    <br>

    <h4>Mentorship Program</h4>
    <p>College is not only a critical time for education, but for choosing career paths, and we want our women
      to be well prepared for when they enter the industry. If you are interested, please reach out through our "Contact" page
      or email
      <a class="icon-buttons" href="mailto:eac33@students.calvin.edu" target="_blank" style="color:gray">
        Emily Costa
      </a>.
      <!-- documentaiton used https://www.labnol.org/internet/free-file-hosting-github/29092/ -->
      <a
        href="https://github.com/CalvinWICWebsite/pdfs/blob/add/pdfs/Mentorship%20Brochure.pdf?raw=true"
      >
        Download Brochure
      </a>
    </p>
    <br>

    <h4>Diversity and Inclusion</h4>
    <p>
      We strive to affirm the importance of diversity by providing opportunites
      for women of all colors to meet, network, and to address their challenges
      and triumphs.
      <!-- documentaiton used https://www.labnol.org/internet/free-file-hosting-github/29092/ -->
      <a
        href="https://github.com/CalvinWICWebsite/pdfs/blob/add/pdfs/Anti-Racism%20Poster.pdf?raw=true"
      >
        Read More
      </a>
    </p>
  </div>

  <div id="instafeed"></div>

</div>
