<div class="container">
  <img class="logo" src="../assets/logo.png" alt="wic_logo" />
</div>

<div class="icon-links">
  <a
    class="icon-buttons"
    href="https://www.facebook.com/groups/203395590125573"
    target="_blank"
    ><i
      class="fa fa-facebook-square"
      aria-hidden="true"
      style="font-size: 50px"
    ></i
  ></a>
  <a
    class="icon-buttons"
    href="https://www.instagram.com/wic.calvinuniversity/"
    target="_blank"
    ><i class="fa fa-instagram" style="font-size: 50px"></i
  ></a>
  <a
    class="icon-buttons"
    href="https://calvin.edu/offices-services/student-organizations/women-in-computing"
    target="_blank"
    ><i class="fa fa-info-circle" aria-hidden="true" style="font-size: 50px"></i
  ></a>
</div>
